<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,300;1,400&family=Koulen&display=swap" rel="stylesheet">
    <title>usuario: <%= user %></title>
</head>
<body>
    <header class="header">
        <h1>
            Notas de <%= user %>
        </h1>

        <a href="http://localhost:3000/logout">
            Cerrar sesion
        </a>
    </header>

    <div class="all-container">

        <form method="POST" action="/" class="form">

            <input type="text" id="titleInput" name="title" required placeholder="Titulo">

            <textarea name="content" id="contentInput" placeholder="Crear nota..." required></textarea>
    
            <button type="submit" id="submit">Enviar</button>
        </form>

        <div class="notes-container">

            <% notes.forEach(note => { %>
                <article class="note">
                    <h3><%= note.title %></h3>
                    <p class="note-content">- <%= note.content %></p>
                    <p class="note-created"> Ultima modificacion: <%= note.createdAt %></p>
                </article>
            <% }) %>

        </div>

    </div>
</body>
</html>
<!-- <%  %> -->